<article *ngFor="let pysakki of reittiTaulukko">
<h1 class="mat-title">
    {{ pysakki.name }}
</h1>

<div fxLayout="row">
    <div fxFlex>
        <ul>
            <mat-list *ngFor="let reitti of pysakki.patterns">
                <mat-list-item><mat-icon matListIcon>directions_bus</mat-icon>{{reitti.name}}</mat-list-item>
                <p matLine><span [class]="reitti.directionId | routeColor">{{reitti.directionId | routeDirection}}</span>{{reitti.route.longName}}</p>
                <mat-divider></mat-divider>
            </mat-list>
        </ul>
    </div>
    <div fxFlex class="img-rounded">
        <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="16">
            <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
        </agm-map>
    </div>
</div>
</article>
